<!doctype html>

<html>

    <head>
        <link rel="shortcut icon" href="res/services.png"/>
        <link rel="icon" type="image/png" href="res/services.png" sizes="16x16"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <title>{{ homepage_title }}</title>
        <link rel="stylesheet" type="text/css" href="res/simplegrid.css" />
        <style>
            body {
                background: #ffffff;
                color: rgb(15, 15, 15);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 85%;
                line-height: 1.5;
            }
            h1 {
                text-align: center;
            }
            .content {
                background: #ffffff;
                margin-top: 1px;
                margin-bottom: 5px;
                text-align: center;
                border-radius: 0px;
                border: #DFDFDF 1px solid;
                height: 80px;
                box-shadow: 3px 6px 30px -14px rgba(0,0,0,.25);
                display: flex;
                align-items: center;
            }
            a {
                color: rgb(15, 15, 15);
                text-decoration: none;
            }
            input {
                width: 90%;
                background-color: #f4f4f4;
                border: 0px;
                border-radius: 2px;
                color:  #474747;
                font-family: monospace;
            }
            .message {
                text-align: center;
                color: #AAA;
                display: block;
                border-radius: 2px;
                margin-top: 12px;
            }
            .message a:hover {
                text-decoration: underline;
            }
            .nextcloud :hover{
                border-color: #107BB5;
            }
            .nextcloud-cb {
                background-color: #3794C6;
            }
            .rocketchat :hover{
                border-color: #B52D33;
            }
            .rocketchat-cb {
                background-color: #CC4E53;
            }
            .element :hover{
                border-color: #0DBD8B;
            }
            .element-cb {
                background-color: #0DBD8B;
            }
            .jitsi :hover{
                border-color: #1D76BA;
            }
            .jitsi-cb {
                background-color: #1D76BA;
            }
            .shaarli :hover{
                border-color: #166E4C;
            }
            .shaarli-cb {
                background-color: #328251;
            }
            .tt-rss :hover{
                border-color: #D97127;
            }
            .tt-rss-cb {
                background-color: #FFB246;
            }
            .rss-bridge :hover{
                border-color: #FF6600;
            }
            .rss-bridge-cb {
                background-color: #FF9355;
            }
            .transmission :hover{
                border-color: #C64337;
            }
            .transmission-cb {
                background-color: #CD5145;
            }
            .gitea :hover{
                border-color: #609926;
            }
            .gitea-cb {
                background-color: #8FC159;
            }
            .jellyfin :hover{
                border-color: #9E61C5;
            }
            .jellyfin-cb {
                background-color: #A091C8;
            }
            .mumble :hover{
                border-color: #5F5F5F;
            }
            .mumble-cb {
                background-color: #838383;
            }
            .mail :hover{
                border-color: #FEC006;
            }
            .mail-cb {
                background-color: #f5cd56;
            }
            .ldap-account-manager :hover{
                border-color: #2B899F;
            }
            .ldap-account-manager-cb {
                background-color: #47B0AB;
            }
            .self-service-password :hover{
                border-color: #EB8927;
            }
            .self-service-password-cb {
                background-color: #FF9A2C;
            }
            .synapse-admin :hover{
                border-color: #2196F3;
            }
            .synapse-admin-cb {
                background-color: #2196F3;
            }
            .netdata :hover{
                border-color: #00FF00;
            }
            .netdata-cb {
                background-color: #45DC11;
            }
            .goaccess :hover{
                border-color: #5BC0DE;
            }
            .goaccess-cb {
                background-color: #5BC0DE;
            }
            .graylog :hover{
                border-color: #E84139;
            }
            .graylog-cb {
                background-color: #FD6466;
            }
            .ssh :hover {
                border-color: #4E4E4E;
            }
            .ssh-cb {
                background-color: #6A6A6A;
            }
            .sftp :hover{
                border-color: #5195E3;
            }
            .sftp-cb {
                background-color: #9FB9D2;
            }
            .samba :hover{
                border-color: #B08F6C;
            }
            .samba-cb {
                background-color: #D2B58D;
            }
            .gotty :hover{
                border-color: #313131;
            }
            .gotty-cb {
                background-color: #313131;
            }
            .planarally :hover{
                border-color: #781d3a;
            }
            .planarally-cb {
                background-color: #f2e9d5;
            }
            .customlink :hover{
                border-color: #FAFAFA;
            }
            .customlink-cb {
                background-color: #FAFAFA;
            }
            .colorblock {
                height: 80px;
                margin-right: 10px;
                padding-right: 10px;
                padding-left: 10px;
            }
            .app-icon {
                margin-top: 30px;
            }
            .app-text {
                margin-top: 30px;
                flex-direction: column;
                text-align: left;
                margin: 0 0 0 0;
            }
            .app-name {
                font-size: 1.2em;
                margin: 0px;
            }
            .app-description {
                color: #555;
                margin: 0px;
            }
        </style>
    </head>

    <body>
        <!-- Grid 1/2 -->
        <div class="grid grid-pad">
            <div class="col-1-1 mobile-col-1-1">
                <h1>{{ homepage_title }}</h1>
            </div>
{% if ansible_local.nextcloud.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 nextcloud">
                <a href="https://{{ ansible_local.nextcloud.fqdn }}">
                    <div class="content">
                        <div class="colorblock nextcloud-cb"><img class="app-icon" src="res/nextcloud.png"></div>
                        <div class="app-text">
                            <p class="app-name">Nextcloud</p>
                            <p class="app-description">Collaboration, file sharing and synchronization</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.rocketchat.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 rocketchat">
                <a href="https://{{ ansible_local.rocketchat.fqdn }}">
                    <div class="content">
                        <div class="colorblock rocketchat-cb"><img class="app-icon" src="res/rocketchat.png"></div>
                        <div class="app-text">
                            <p class="app-name">Rocket.chat</p>
                            <p class="app-description">Communication platform</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.matrix.element.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 element">
                <a href="https://{{ ansible_local.matrix.element.fqdn }}">
                    <div class="content">
                        <div class="colorblock element-cb"><img class="app-icon" src="res/element.png"></div>
                        <div class="app-text">
                            <p class="app-name">Matrix (Element)</p>
                            <p class="app-description">Secure communication platform</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.jitsi.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 jitsi">
                <a href="https://{{ ansible_local.jitsi.fqdn }}">
                    <div class="content">
                        <div class="colorblock jitsi-cb"><img class="app-icon" src="res/jitsi.png"></div>
                        <div class="app-text">
                           <p class="app-name">Jitsi</p>
                           <p class="app-description">Video conferencing</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.shaarli.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 shaarli">
                <a href="https://{{ ansible_local.shaarli.fqdn }}">
                    <div class="content">
                        <div class="colorblock shaarli-cb"><img class="app-icon" src="res/shaarli.png"></div>
                        <div class="app-text">
                            <p class="app-name">Shaarli</p>
                            <p class="app-description">Bookmarks and link sharing</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.tt_rss.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 tt-rss">
                <a href="https://{{ ansible_local.tt_rss.fqdn }}">
                    <div class="content">
                        <div class="colorblock tt-rss-cb"><img class="app-icon" src="res/tt-rss.png"></div>
                        <div class="app-text">
                            <p class="app-name">Tiny Tiny RSS</p>
                            <p class="app-description">RSS/ATOM feed reader</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.rss_bridge.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 rss-bridge">
                <a href="https://{{ ansible_local.rss_bridge.fqdn }}">
                    <div class="content">
                        <div class="colorblock rss-bridge-cb"><img class="app-icon" src="res/rss-bridge.png"></div>
                        <div class="app-text">
                            <p class="app-name">RSS-Bridge</p>
                            <p class="app-description">RSS feed for websites missing it</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.transmission.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 transmission">
                <a href="https://{{ ansible_local.transmission.fqdn }}">
                    <div class="content">
                        <div class="colorblock transmission-cb"><img class="app-icon" src="res/transmission.png"></div>
                        <div class="app-text">
                            <p class="app-name">Transmission</p>
                            <p class="app-description">Bittorrent client</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.gitea.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 gitea">
                <a href="https://{{ ansible_local.gitea.fqdn }}">
                    <div class="content">
                        <div class="colorblock gitea-cb"><img class="app-icon" src="res/gitea.png"></div>
                        <div class="app-text">
                            <p class="app-name">Gitea</p>
                            <p class="app-description">Software forge</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.jellyfin.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 jellyfin">
                <a href="https://{{ ansible_local.jellyfin.fqdn }}">
                    <div class="content">
                        <div class="colorblock jellyfin-cb"><img class="app-icon" src="res/jellyfin.png"></div>
                        <div class="app-text">
                            <p class="app-name">Jellyfin</p>
                            <p class="app-description">Media server</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.mumble.ansible_managed is defined %}
            <div class="col-1-3 mobile-col-1-1 mumble">
                <a href="mumble://{{ inventory_hostname }}:{{ ansible_local.mumble.port }}">
                    <div class="content">
                        <div class="colorblock mumble-cb"><img class="app-icon" src="res/mumble.png"></div>
                        <div class="app-text">
                            <p class="app-name">Mumble</p>
                            <p class="app-description">Low-latency VoIP server</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.dovecot.ansible_managed is defined %}
            <div class="col-1-3 mobile-col-1-1 mail">
                <a href="imap://{{ dovecot_fqdn }}:993">
                    <div class="content">
                        <div class="colorblock mail-cb"><img class="app-icon" src="res/mail.png"></div>
                        <div class="app-text">
                            <p class="app-name">Mail</p>
                            <p class="app-description">E-mail (IMAP) server</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.ldap_account_manager.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 ldap-account-manager">
                <a href="https://{{ ansible_local.ldap_account_manager.fqdn }}">
                    <div class="content">
                        <div class="colorblock ldap-account-manager-cb"><img class="app-icon" src="res/ldap-account-manager.png"></div>
                        <div class="app-text">
                            <p class="app-name">LDAP Account Manager</p>
                            <p class="app-description">Users and groups management</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.self_service_password.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 self-service-password">
                <a href="https://{{ ansible_local.self_service_password.fqdn }}">
                    <div class="content">
                        <div class="colorblock self-service-password-cb"><img class="app-icon" src="res/self-service-password.png"></div>
                        <div class="app-text">
                            <p class="app-name">Self-Service Password</p>
                            <p class="app-description">Reset LDAP passwords</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.matrix.synapse.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 synapse-admin">
                <a href="https://{{ ansible_local.matrix.synapse.fqdn }}">
                    <div class="content">
                        <div class="colorblock synapse-admin-cb"><img class="app-icon" src="res/synapse-admin.png"></div>
                        <div class="app-text">
                            <p class="app-name">Matrix (synapse-admin)</p>
                            <p class="app-description">Matrix user/room administration interface</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.planarally.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 planarally">
                <a href="https://{{ ansible_local.planarally.fqdn }}">
                    <div class="content">
                        <div class="colorblock planarally-cb"><img class="app-icon" src="res/planarally.png"></div>
                        <div class="app-text">
                            <p class="app-name">PlanarAlly</p>
                            <p class="app-description">Virtual TableTop (VTT)</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.netdata.ansible_managed is defined %}
            <div class="col-1-3 mobile-col-1-1 netdata">
                <a href="https://{{ inventory_hostname }}:{{ ansible_local.netdata.public_port }}/">
                    <div class="content">
                        <div class="colorblock netdata-cb"><img class="app-icon" src="res/netdata.png"></div>
                        <div class="app-text">
                            <p class="app-name">Netdata</p>
                            <p class="app-description">Realtime monitoring</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.goaccess.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 goaccess">
                <a href="https://{{ goaccess_fqdn }}/">
                    <div class="content">
                        <div class="colorblock goaccess-cb"><img class="app-icon" src="res/goaccess.png"></div>
                        <div class="app-text">
                            <p class="app-name">Goaccess</p>
                            <p class="app-description">Web log analyzer/viewer</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.graylog.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 graylog">
                <a href="https://{{ ansible_local.graylog.fqdn }}/">
                    <div class="content">
                        <div class="colorblock graylog-cb"><img class="app-icon" src="res/graylog.png"></div>
                        <div class="app-text">
                            <p class="app-name">Graylog</p>
                            <p class="app-description">Log management and analysis</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% if ansible_local.gotty.fqdn is defined %}
            <div class="col-1-3 mobile-col-1-1 gotty">
                <a href="https://{{ ansible_local.gotty.fqdn }}/">
                    <div class="content">
                        <div class="colorblock gotty-cb"><img class="app-icon" src="res/gotty.png"></div>
                        <div class="app-text">
                            <p class="app-name">Gotty</p>
                            <p class="app-description">In-browser terminal</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
            <div class="col-1-3 mobile-col-1-1 ssh">
                <a href="ssh://{{ inventory_hostname }}:{{ ansible_ssh_port|default('22') }}">
                    <div class="content">
                        <div class="colorblock ssh-cb"><img class="app-icon" src="res/ssh.png"></div>
                        <div class="app-text">
                            <p class="app-name">SSH</p>
                            <p class="app-description">Remote administrative access</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1-3 mobile-col-1-1 sftp">
                <a href="sftp://{{ inventory_hostname }}:{{ ansible_ssh_port|default('22') }}">
                    <div class="content">
                        <div class="colorblock sftp-cb"><img class="app-icon" src="res/sftp.png"></div>
                        <div class="app-text">
                            <p class="app-name">SFTP</p>
                            <p class="app-description">Secure file transfer</p>
                        </div>
                    </div>
                </a>
            </div>
{% if ansible_local.samba.ansible_managed is defined %}
            <div class="col-1-3 mobile-col-1-1 samba">
                <a href="smb://{{ inventory_hostname }}">
                    <div class="content">
                        <div class="colorblock samba-cb"><img class="app-icon" src="res/samba.png"></div>
                        <div class="app-text">
                            <p class="app-name">Samba</p>
                            <p class="app-description">Multi-platform file sharing server</p>
                        </div>
                    </div>
                </a>
            </div>
{% endif %}
{% for item in homepage_custom_links %}
            <div class="{% if item.compact is defined and item.compact %}col-1-6 mobile-col-1-2{% else %}col-1-3 mobile-col-1-1{% endif %} customlink">
                <a href="{{ item.url | e }}">
                    <div class="content">
                        <div class="colorblock customlink-cb"><img class="app-icon" src="res/{{ item.icon | default('globe') | e }}.png"></div>
                        <div class="app-text">
                            <p class="app-name">{{ item.title | e }}</p>
                            {% if item.compact is defined and item.compact %}{% else %}<p class="app-description">{{ item.description | default ('') | e }}</p>{% endif +%}
                        </div>
                    </div>
                </a>
            </div>
{% endfor %}
            <div class="col-1-1 mobile-col-1-1 message">
                {{ homepage_message }}
            </div>
        </div>
    </body>
</html>
