# rsnapshot configuration for graylog backups
{% if graylog_enable_service %}
# dump mongodb database
backup_exec	/usr/bin/mongodump --quiet --out=/var/backups/mongodb
# backup mongodb dumps
backup	/var/backups/mongodb	localhost/
# remove temporary dumps
backup_exec	rm -rf /var/backups/mongodb/*	required
{% else %}
backup_exec	echo "WARNING graylog/mongodb service is disabled in host configuration, no mongodb backup will be performed"
{% endif %}
