# netdata configuration
# You can download the running configuration of your netdata instance, using:
# curl http://localhost:19999/netdata.conf

[db]
   update every = {{ netdata_update_every }}
   mode = dbengine
   storage tiers = 3
   page cache size MB = {{ netdata_dbengine_page_cache_size }}
   # tier 0, per-second data
   dbengine multihost disk space MB = {{ netdata_dbengine_disk_space }}
   # tier 1, per-minute data
   dbengine tier 1 multihost disk space MB = 400
   dbengine tier 1 update every iterations = 60
   # tier 2, per-hour data
   dbengine tier 2 multihost disk space MB = 200
   dbengine tier 2 update every iterations = 60

[logs]
{% if netdata_disable_debug_log %}   debug = none
{% endif %}
{% if netdata_disable_error_log %}   error = none
{% endif %}
{% if netdata_disable_access_log %}   access = none
{% endif %}

{% if not netdata_enable_health_notifications %}
[health]
   script to execute on alarm = /bin/true
{% endif %}

[web]
   default port = 19999
   allow connections from = {{ netdata_allow_connections_from }} localhost
   allow netdata.conf from = {{ netdata_allow_connections_from }} localhost
   ssl key = /etc/ssl/netdata/netdata-key.pem
   ssl certificate = /etc/ssl/netdata/netdata-cert.pem
   web files owner = root
   web files group = netdata
   accept a streaming request every seconds = 0

[registry]
   enabled = yes
   registry to announce = https://{{ inventory_hostname }}:{{ netdata_public_port | default('19999') }}

[plugins]
{% for plugin in netdata_disabled_plugins %}
   {{ plugin }} = no
{% endfor %}

[plugin:proc:diskspace]
	exclude space metrics on paths = /proc/* /sys/* /var/run/user/* /run/user/* /snap/* /var/lib/docker/* /dev /dev/shm
