<VirtualHost *:80>
    DocumentRoot {{ shaarli_install_dir }}
    ServerName {{ shaarli_fqdn }}
{% if shaarli_https_mode == 'selfsigned' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
</VirtualHost>

{% if shaarli_https_mode == 'letsencrypt' %}
MDomain {{ shaarli_fqdn }}
{% endif %}

<VirtualHost *:443>
  ServerName  {{ shaarli_fqdn }}
  SSLEngine on
{% if shaarli_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ shaarli_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ shaarli_fqdn }}.key
{% endif %}
{% if not shaarli_enable_service %}
  DocumentRoot /var/www/maintenance/
  ErrorDocument 503 /maintenance.html
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !=/maintenance.html
  RewriteRule ^.*$ - [R=503,L]
{% else %}
  DocumentRoot {{ shaarli_install_dir }}

  <LocationMatch "/.fpm-status">
      Require all granted
      Require ip 127.0.0.1
      ProxyPass unix:/run/php/php{{ shaarli_php_fpm_version }}-fpm-shaarli.sock|fcgi://localhost/.fpm-status
  </LocationMatch>
{% if shaarli_allowed_hosts %}
  <Location />
    Require ip 127.0.0.1 {{ shaarli_allowed_hosts | join(' ') }}
  </Location>
{% endif %}
  <FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php/php{{ shaarli_php_fpm_version }}-fpm-shaarli.sock|fcgi://localhost"
  </FilesMatch>

  <Directory {{ shaarli_install_dir }}>
      # Required for .htaccess support
      AllowOverride All
      Require all granted
      Header always set Content-Security-Policy "script-src 'self' 'unsafe-inline' https://www.youtube.com https://s.ytimg.com; frame-ancestors 'none'"
  </Directory>

  <FilesMatch ".*\.(?!(ico|css|js|gif|jpe?g|png|ttf|oet|woff2?)$)[^\.]*$">
    Require all denied
  </FilesMatch>

  DirectoryIndex index.php

  <Files "index.php">
    Require all granted
  </Files>

  <Directory {{ shaarli_install_dir }}/doc/html/>
    DirectoryIndex index.html
    <FilesMatch ".*\.html">
      Require all granted
    </FilesMatch>
  </Directory>

  <FilesMatch "\.(?:ico|css|js|gif|jpe?g|png|ttf|oet|woff2)$">
      # allow client-side caching of static files
      Header set Cache-Control "max-age=2628000, public, must-revalidate, proxy-revalidate"
  </FilesMatch>

  # serve the Shaarli favicon from its custom location
  Alias favicon.ico {{ shaarli_install_dir }}/images/favicon.ico
{% endif %}
</VirtualHost>
